@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
*{
    box-sizing: border-box;
    font-family: Helvetica;
    margin: 0;
}
body{
    position: relative;
    background: papayawhip;
}
.bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    font-size: 2rem;
    font-family: 'Yellowtail', cursive;
    background: papayawhip;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .4em;
    width: 90%;
    margin: auto;
}
    .btnContainer div{
        background: rgb(231, 120, 138);
        font-size: 1.5rem;
        padding: .5em;
        border-radius: 25px;
        text-align: center;
        width: 25%;
    }
    .month{
        min-width: 50%;
    }
.optionsContainer{
    display: flex;
    width: 90%;
    left: 5%;
    max-height: 200px;
    border-radius: 10px;
    flex-direction: column;
    overflow: scroll;
    position: absolute;
    background: rgb(250, 184, 195);
    margin-top: 1em;
}
    .optionsContainer div{
        font-size: 1.4rem;
        padding: .1em;
        text-align: center;
    }

.calculateBtn{
    margin-inline: auto;
    margin-top: 1em;
    background: rgb(231, 120, 138);
    font-size: 1.5rem;
    padding: .5em;
    border-radius: 25px;
    text-align: center;
    width: 90%;
}
.resultContainer{
    min-height: 300px;
    width: 90%;
    margin: auto;
}
    .errorMsg{
        color: rgb(182, 0, 0);
        font-size: 1.4rem;
        padding: .3em;
        text-align: center;
        display: none;
    }
.row{
    display: flex;
    flex-direction: row;
    padding: 1em;
    align-items: flex-end;

}
    .count{
        font-size: 2rem;
        line-height: .8em;
    }
    .word{
        font-size: 1.3rem;
        line-height: .8em;
    }